In [7]:
str1='mehwash shahzadi'
str2='maheen murtaza'
temp=""
for i in str1:
    if (i in str2) and (i not in temp):
        temp+=i
print(temp)

meha z

In [3]:
square={i:i**2 for i in range(1,11)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

how many time a character in a string.

In [ ]:
name='mehwash'
temp={i:name.count(i) for i in name}
print(temp)

{'m': 2, 'i': 2, 's': 1, 'h': 2}

#if_else with dictionary comprehnsion

In [17]:
odd_even={i:('even' if i%2==0 else 'odd') for i in range(1,11)}
print(odd_even)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

#set comprehnsion

In [20]:
set1={k**2 for k in range(1,11)}
print(set1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [22]:
name=['mishi','samar','nabeel']
set1={i[0] for i in name}
print(set1)

{'m', 's', 'n'}